absl-py==2.0.0
accelerate==0.25.0
ace==0.3.3
aiohttp==3.9.3
aiosignal==1.3.1
airllm==2.8.3
annotated-types==0.6.0
anyio==4.0.0
appnope==0.1.3
argcomplete==1.10.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
astunparse==1.6.3
async-lru==2.0.4
attrs==22.2.0
audioread==3.0.1
Babel==2.13.1
beautifulsoup4==4.12.2
bitsandbytes==0.42.0
bleach==6.1.0
blender==1.4
blinker==1.7.0
blis==0.7.11
boto3==1.33.11
botocore==1.33.11
bpemb==0.3.4
build==1.1.1
cachetools==5.3.2
camelot-py==0.9.0
canvas==0.3
catalogue==2.0.10
certifi @ file:///private/tmp/python-certifi-20231008-5803-12332sz/certifi-2023.7.22
cffi @ file:///private/tmp/cffi-20231015-5890-1t5aans/cffi-1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
chronos @ git+https://github.com/amazon-science/chronos-forecasting.git@2f92a126d3b6ec81111bb120953a5310e5ee8502
ci-info==0.3.0
click==8.1.7
click-plugins==1.1.1
cligj==0.7.2
cloudpathlib==0.16.0
cloudpickle==3.0.0
coloredlogs==15.0.1
comm==0.2.0
compressed-rtf==1.0.6
confection==0.1.4
configobj==5.0.8
configparser==6.0.0
conllu==4.5.3
contourpy==1.2.0
cryptography==42.0.8
curated-tokenizers==0.0.9
curated-transformers==0.1.1
cycler==0.12.1
cymem==2.0.8
dask==2024.5.2
dask-expr==1.1.2
dask-glm==0.3.2
dask-ml==2024.4.4
datasets==2.19.0
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
descartes==1.1.0
diffusers @ git+https://github.com/huggingface/diffusers.git@37e3603c4a8cd7c812327830e6a89e98d39698c9
dill==0.3.8
distributed==2024.5.2
distro==1.9.0
Django==3.2.10
django-cors-headers==3.7.0
django-redis==4.12.1
djangorestframework==3.12.4
djangorestframework-simplejwt==4.7.2
docker-pycreds==0.4.0
docx2txt==0.8
duckdb==0.10.1
ebcdic==1.1.1
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl#sha256=ab70aeb6172cde82508f7739f35ebc9918a3d07debeed637403c8f794ba3d3dc
en-core-web-md @ https://github.com/explosion/spacy-models/releases/download/en_core_web_md-3.7.1/en_core_web_md-3.7.1-py3-none-any.whl#sha256=6a0f857a2b4d219c6fa17d455f82430b365bf53171a2d919b9376e5dc9be032e
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl#sha256=86cc141f63942d4b2c5fcee06630fd6f904788d2f0ab005cce45aadb8fb73889
en-core-web-trf @ https://github.com/explosion/spacy-models/releases/download/en_core_web_trf-3.7.3/en_core_web_trf-3.7.3-py3-none-any.whl#sha256=f72abb34bdf174876bd4267b29b2501677e605e0a251fdc56c163003182ed68b
et-xmlfile==1.1.0
etelemetry==0.3.1
executing==2.0.1
extract-msg==0.28.7
fastapi==0.115.0
fastjsonschema==2.18.1
filelock==3.13.1
finnhub-python==2.4.20
fiona==1.9.6
fitz==0.0.1.dev2
flair==0.13.0
flasgger==0.9.7.2.dev2
Flask==3.0.0
Flask-Cors==4.0.0
Flask-SQLAlchemy==3.1.1
flatbuffers==23.5.26
fonttools==4.44.1
fqdn==1.5.1
frozendict==2.4.4
frozenlist==1.4.1
fsspec==2023.12.1
ftfy==6.1.3
future==0.18.3
future-fstrings==1.2.0
gast==0.5.4
gdown==4.7.1
gensim==4.3.2
geopandas==0.1.0
gitdb==4.0.11
GitPython==3.1.43
gluonts==0.15.1
google-auth==2.23.4
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
greenlet==3.0.3
grpcio==1.59.2
gunicorn==20.1.0
h11==0.14.0
h5py==3.10.0
html5lib==1.1
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
huggingface-hub==0.23.0
humanfriendly==10.0
idna==3.4
IMAPClient==2.1.0
importlib_metadata==7.1.0
iniconfig==2.0.0
inquirerpy==0.3.4
ipykernel==6.26.0
ipython==8.17.2
ipywidgets==8.1.1
isodate==0.6.1
isoduration==20.11.0
itsdangerous==2.1.2
Janome==0.5.0
jedi==0.19.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.3.2
JPype1==1.5.0
json5==0.9.14
jsonpickle==3.0.2
jsonpointer==2.4
jsons==1.6.3
jsonschema==4.19.2
jsonschema-specifications==2023.7.1
jupyter==1.0.0
jupyter-console==6.6.3
jupyter-events==0.9.0
jupyter-lsp==2.2.0
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyter_server==2.10.0
jupyter_server_terminals==0.4.4
jupyterlab==4.0.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.9
jupyterlab_server==2.25.1
keras==2.14.0
keyboard==0.13.5
kiwisolver==1.4.5
langcodes==3.3.0
langdetect==1.0.9
lazy_loader==0.4
libclang==16.0.6
librosa==0.10.2.post1
lightning==2.1.4
lightning-utilities==0.11.2
llvmlite==0.42.0
locket==1.0.0
looseversion==1.3.0
lxml==4.9.3
Markdown==3.5.1
MarkupSafe==2.1.3
matplotlib==3.8.1
matplotlib-inline==0.1.6
MechanicalSoup==1.3.0
mistune==3.0.2
ml-dtypes==0.2.0
mlxtend==0.23.0
more-itertools==10.1.0
MouseInfo==0.1.3
mpld3==0.5.9
mplfinance==0.12.10b0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
multipledispatch==1.0.0
multiprocess==0.70.16
multitasking==0.0.11
murmurhash==1.0.10
mysql-connector-python==8.3.0
nbclient==0.9.0
nbconvert==7.11.0
nbformat==5.9.2
nest-asyncio==1.5.8
networkx==3.2.1
newsapi-python==0.2.7
nibabel==5.1.0
nipype==1.8.6
nltk==3.8.1
notebook==7.0.6
notebook_shim==0.2.3
numba==0.59.1
numpy==1.24.4
oauthlib==3.2.2
olefile==0.47
opencv-python==4.8.1.78
openpyxl==3.1.3
opt-einsum==3.3.0
optimum==1.19.1
outcome==1.3.0.post0
overrides==7.4.0
packaging @ file:///private/tmp/python-packaging-20231018-5901-huh5q4/packaging-23.2
pandas==2.1.3
pandocfilters==1.5.0
parso==0.8.3
partd==1.4.2
pathlib==1.0.1
pdfminer.six==20191110
peewee==3.17.5
peft==0.11.1
pexpect==4.8.0
pfzy==0.3.4
pikepdf==8.10.1
Pillow==9.5.0
platformdirs==4.0.0
plotly==5.22.0
pluggy==1.4.0
polygon==1.2.0
polygon-api-client==1.13.7
pooch==1.8.2
pptree==3.1
preshed==3.0.9
prometheus-client==0.18.0
prompt-toolkit==3.0.40
protobuf==4.21.12
prov==2.0.0
psutil @ file:///private/tmp/python-psutil-20231015-5790-1i8kq9n/psutil-5.9.6
psycopg2==2.9.9
psycopg2-binary==2.9.1
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==16.0.0
pyarrow-hotfix==0.6
pyasn1==0.5.0
pyasn1-modules==0.3.0
PyAutoGUI==0.9.54
pycparser==2.22
pycryptodome==3.19.0
pydantic==2.5.2
pydantic_core==2.14.5
pydot==1.4.2
PyGetWindow==0.0.9
Pygments==2.15.1
PyJWT==2.8.0
PyMsgBox==1.0.9
PyMuPDF==1.23.21
PyMuPDFb==1.23.9
pyobjc==10.0
pyobjc-core==10.0
pyobjc-framework-Accessibility==10.0
pyobjc-framework-Accounts==10.0
pyobjc-framework-AddressBook==10.0
pyobjc-framework-AdServices==10.0
pyobjc-framework-AdSupport==10.0
pyobjc-framework-AppleScriptKit==10.0
pyobjc-framework-AppleScriptObjC==10.0
pyobjc-framework-ApplicationServices==10.0
pyobjc-framework-AppTrackingTransparency==10.0
pyobjc-framework-AudioVideoBridging==10.0
pyobjc-framework-AuthenticationServices==10.0
pyobjc-framework-AutomaticAssessmentConfiguration==10.0
pyobjc-framework-Automator==10.0
pyobjc-framework-AVFoundation==10.0
pyobjc-framework-AVKit==10.0
pyobjc-framework-AVRouting==10.0
pyobjc-framework-BackgroundAssets==10.0
pyobjc-framework-BusinessChat==10.0
pyobjc-framework-CalendarStore==10.0
pyobjc-framework-CallKit==10.0
pyobjc-framework-CFNetwork==10.0
pyobjc-framework-ClassKit==10.0
pyobjc-framework-CloudKit==10.0
pyobjc-framework-Cocoa==10.0
pyobjc-framework-Collaboration==10.0
pyobjc-framework-ColorSync==10.0
pyobjc-framework-Contacts==10.0
pyobjc-framework-ContactsUI==10.0
pyobjc-framework-CoreAudio==10.0
pyobjc-framework-CoreAudioKit==10.0
pyobjc-framework-CoreBluetooth==10.0
pyobjc-framework-CoreData==10.0
pyobjc-framework-CoreHaptics==10.0
pyobjc-framework-CoreLocation==10.0
pyobjc-framework-CoreMedia==10.0
pyobjc-framework-CoreMediaIO==10.0
pyobjc-framework-CoreMIDI==10.0
pyobjc-framework-CoreML==10.0
pyobjc-framework-CoreMotion==10.0
pyobjc-framework-CoreServices==10.0
pyobjc-framework-CoreSpotlight==10.0
pyobjc-framework-CoreText==10.0
pyobjc-framework-CoreWLAN==10.0
pyobjc-framework-CryptoTokenKit==10.0
pyobjc-framework-DataDetection==10.0
pyobjc-framework-DeviceCheck==10.0
pyobjc-framework-DictionaryServices==10.0
pyobjc-framework-DiscRecording==10.0
pyobjc-framework-DiscRecordingUI==10.0
pyobjc-framework-DiskArbitration==10.0
pyobjc-framework-DVDPlayback==10.0
pyobjc-framework-EventKit==10.0
pyobjc-framework-ExceptionHandling==10.0
pyobjc-framework-ExecutionPolicy==10.0
pyobjc-framework-ExtensionKit==10.0
pyobjc-framework-ExternalAccessory==10.0
pyobjc-framework-FileProvider==10.0
pyobjc-framework-FileProviderUI==10.0
pyobjc-framework-FinderSync==10.0
pyobjc-framework-FSEvents==10.0
pyobjc-framework-GameCenter==10.0
pyobjc-framework-GameController==10.0
pyobjc-framework-GameKit==10.0
pyobjc-framework-GameplayKit==10.0
pyobjc-framework-HealthKit==10.0
pyobjc-framework-ImageCaptureCore==10.0
pyobjc-framework-InputMethodKit==10.0
pyobjc-framework-InstallerPlugins==10.0
pyobjc-framework-InstantMessage==10.0
pyobjc-framework-Intents==10.0
pyobjc-framework-IntentsUI==10.0
pyobjc-framework-IOBluetooth==10.0
pyobjc-framework-IOBluetoothUI==10.0
pyobjc-framework-IOSurface==10.0
pyobjc-framework-iTunesLibrary==10.0
pyobjc-framework-KernelManagement==10.0
pyobjc-framework-LatentSemanticMapping==10.0
pyobjc-framework-LaunchServices==10.0
pyobjc-framework-libdispatch==10.0
pyobjc-framework-libxpc==10.0
pyobjc-framework-LinkPresentation==10.0
pyobjc-framework-LocalAuthentication==10.0
pyobjc-framework-LocalAuthenticationEmbeddedUI==10.0
pyobjc-framework-MailKit==10.0
pyobjc-framework-MapKit==10.0
pyobjc-framework-MediaAccessibility==10.0
pyobjc-framework-MediaLibrary==10.0
pyobjc-framework-MediaPlayer==10.0
pyobjc-framework-MediaToolbox==10.0
pyobjc-framework-Metal==10.0
pyobjc-framework-MetalFX==10.0
pyobjc-framework-MetalKit==10.0
pyobjc-framework-MetalPerformanceShaders==10.0
pyobjc-framework-MetalPerformanceShadersGraph==10.0
pyobjc-framework-MetricKit==10.0
pyobjc-framework-MLCompute==10.0
pyobjc-framework-ModelIO==10.0
pyobjc-framework-MultipeerConnectivity==10.0
pyobjc-framework-NaturalLanguage==10.0
pyobjc-framework-NetFS==10.0
pyobjc-framework-Network==10.0
pyobjc-framework-NetworkExtension==10.0
pyobjc-framework-NotificationCenter==10.0
pyobjc-framework-OpenDirectory==10.0
pyobjc-framework-OSAKit==10.0
pyobjc-framework-OSLog==10.0
pyobjc-framework-PassKit==10.0
pyobjc-framework-PencilKit==10.0
pyobjc-framework-PHASE==10.0
pyobjc-framework-Photos==10.0
pyobjc-framework-PhotosUI==10.0
pyobjc-framework-PreferencePanes==10.0
pyobjc-framework-PushKit==10.0
pyobjc-framework-Quartz==10.0
pyobjc-framework-QuickLookThumbnailing==10.0
pyobjc-framework-ReplayKit==10.0
pyobjc-framework-SafariServices==10.0
pyobjc-framework-SafetyKit==10.0
pyobjc-framework-SceneKit==10.0
pyobjc-framework-ScreenCaptureKit==10.0
pyobjc-framework-ScreenSaver==10.0
pyobjc-framework-ScreenTime==10.0
pyobjc-framework-ScriptingBridge==10.0
pyobjc-framework-SearchKit==10.0
pyobjc-framework-Security==10.0
pyobjc-framework-SecurityFoundation==10.0
pyobjc-framework-SecurityInterface==10.0
pyobjc-framework-ServiceManagement==10.0
pyobjc-framework-SharedWithYou==10.0
pyobjc-framework-SharedWithYouCore==10.0
pyobjc-framework-ShazamKit==10.0
pyobjc-framework-Social==10.0
pyobjc-framework-SoundAnalysis==10.0
pyobjc-framework-Speech==10.0
pyobjc-framework-SpriteKit==10.0
pyobjc-framework-StoreKit==10.0
pyobjc-framework-SyncServices==10.0
pyobjc-framework-SystemConfiguration==10.0
pyobjc-framework-SystemExtensions==10.0
pyobjc-framework-ThreadNetwork==10.0
pyobjc-framework-UniformTypeIdentifiers==10.0
pyobjc-framework-UserNotifications==10.0
pyobjc-framework-UserNotificationsUI==10.0
pyobjc-framework-VideoSubscriberAccount==10.0
pyobjc-framework-VideoToolbox==10.0
pyobjc-framework-Virtualization==10.0
pyobjc-framework-Vision==10.0
pyobjc-framework-WebKit==10.0
pyogrio==0.7.2
pyparsing==3.1.1
PyPDF2==3.0.1
pyperclip==1.8.2
pyproj==3.6.1
pyproject_hooks==1.0.0
PyQt3D==5.15.6
PyQt5==5.15.9
PyQt5-sip==12.12.1
PyQtChart==5.15.6
PyQtDataVisualization==5.15.5
PyQtNetworkAuth==5.15.5
PyQtPurchasing==5.15.5
PyQtWebEngine==5.15.6
PyRect==0.2.0
pyresparser==1.0.6
pyrsistent==0.20.0
PyScreeze==0.1.30
PySocks==1.7.1
pytest==8.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==2.0.7
python-multipart==0.0.10
python-pptx==0.6.23
pytorch-lightning==2.1.4
pytorch_revgrad==0.2.0
pytweening==1.0.7
pytz==2023.3.post1
pyxnat==1.6
PyYAML @ file:///private/tmp/pyyaml-20231019-6030-1l8rk6l/PyYAML-6.0.1
pyzmq==25.1.1
qtconsole==5.5.0
QtPy==2.4.1
rdflib==7.0.0
rdkit==2023.9.5
redis==5.0.4
referencing==0.30.2
regex==2023.10.3
reportlab==4.0.7
requests==2.31.0
requests-oauthlib==1.3.1
Resemblyzer==0.1.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.12.0
rsa==4.9
rubicon-objc==0.4.7
s3transfer==0.8.2
safetensors==0.4.1
scikit-learn==1.3.2
scipy==1.11.3
seaborn==0.13.0
segtok==1.5.11
selenium==4.15.2
semver==3.0.2
Send2Trash==1.8.2
sentencepiece==0.1.99
sentry-sdk==2.5.1
setproctitle==1.3.3
shapely==2.0.3
simplejson==3.19.2
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.5.0.post1
spacy==3.7.2
spacy-curated-transformers==0.2.2
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sparse==0.15.4
SpeechRecognition==3.8.1
SQLAlchemy==2.0.30
sqlitedict==2.1.0
sqlparse==0.4.4
srsly==2.4.8
stack-data==0.6.3
starlette==0.38.6
sympy==1.12
tabula-py==2.9.3
tabulate==0.9.0
tblib==3.0.0
tenacity==8.4.2
tensorboard==2.14.1
tensorboard-data-server==0.7.2
tensorflow==2.14.0
tensorflow-estimator==2.14.0
tensorflow-io-gcs-filesystem==0.34.0
termcolor==2.3.0
terminado==0.18.0
textract==1.6.5
thinc==8.2.1
threadpoolctl==3.2.0
tinycss2==1.2.1
tk==0.1.0
tokenizers==0.15.0
toolz==0.12.1
torch==2.1.1
torch-scatter==2.1.2
torch_geometric==2.5.2
torchmetrics==1.4.0.post0
tornado==6.3.3
tqdm==4.66.1
traitlets==5.13.0
traits==6.3.2
transformer-smaller-training-vocab==0.3.3
transformers==4.35.2
trio==0.23.1
trio-websocket==0.11.1
typer==0.9.0
types-python-dateutil==2.8.19.14
typing==3.7.4.3
typing_extensions==4.12.2
typish==1.9.3
tzdata==2023.3
tzlocal==5.2
uri-template==1.3.0
urllib3==1.26.18
uuid==1.30
uvicorn==0.30.6
wandb==0.17.1
wasabi==1.1.2
wcwidth==0.2.12
weasel==0.3.4
webcolors==1.13
webdriver-manager==4.0.1
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.6.4
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==4.0.9
Wikipedia-API==0.6.0
wrapt==1.14.1
wsproto==1.2.0
xgboost==2.0.3
xlrd==1.2.0
XlsxWriter==3.1.9
xxhash==3.4.1
yarl==1.9.4
yfinance==0.2.40
zict==3.0.0
zipp==3.19.1
